@model Defra.PTS.Web.Application.DTOs.Services.ApplicationDetailsDto;
@using Defra.PTS.Web.Application.Extensions;
@using Defra.PTS.Web.Application.Helpers;
@using Defra.PTS.Web.UI.Constants;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Defra.PTS.Web.Application.Constants;

@inject IViewLocalizer Localizer    

@{
    var pageTitle = Localizer["Your application summary"].Value;

    var statusCssClass = Model.Status switch
    {
        AppConstants.ApplicationStatus.REVOKED => "govuk-tag--red",
        AppConstants.ApplicationStatus.UNSUCCESSFUL => "govuk-tag--orange",
        AppConstants.ApplicationStatus.APPROVED => "govuk-tag--green",
        AppConstants.ApplicationStatus.AWAITINGVERIFICATION => "govuk-tag--blue",
        _ => "govuk-tag--red",
    };

    var isInvalid = Model.Status == AppConstants.ApplicationStatus.REVOKED ||
                    Model.Status == AppConstants.ApplicationStatus.UNSUCCESSFUL;

    var StatusReadableName = Model.Status switch
    {
        AppConstants.ApplicationStatus.REVOKED => @Localizer["Cancelled"],
        AppConstants.ApplicationStatus.UNSUCCESSFUL => @Localizer["Unsuccessful"],
        AppConstants.ApplicationStatus.APPROVED => @Localizer["Approved"],
        _ => @Localizer["Pending"],
    };
}

<partial name="@WebAppConstants.PartialViews.TravelDocument.ApplicationDetails_PreLoadAssets" />

<div class="govuk-grid-row govuk-!-display-none-print">
    <div class="govuk-grid-column-three-quarters">
        <h1 id="documents" class="govuk-heading-xl">
            @pageTitle
        </h1>
    </div>
</div>

<partial name="@WebAppConstants.PartialViews.TravelDocument.ApplicationDetails_PrintLogos" />

<div class="govuk-grid-row pet-declaration-print-only">
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
            @pageTitle
        </h1>
    </div>
</div>

@if (!isInvalid)
{
    <partial name="@WebAppConstants.PartialViews.TravelDocument.ApplicationDetails_ActionLinks" model=Model.ActionLinks />
}

<div class="govuk-grid-row pet-declaration-row pet-declaration-row-qrcode">
    <div class="govuk-grid-column-three-quarters">

        <div id="document-issued-card" class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">@Localizer["Application"]</h2>
            </div>
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            @Localizer["Reference number"]
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.ReferenceNumber
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row pet-declaration-status-row">
                        <dt class="govuk-summary-list__key">
                            @Localizer["Status"]
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <strong class="govuk-tag @statusCssClass">
                                @(StatusReadableName)
                            </strong>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            @Localizer["Date"]
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Declaration.ApplicationDate.ToUKDateString()
                        </dd>
                    </div>

                </dl>
            </div>
        </div>

        <div class="pet-declaration-qrcode">
            <img src="@ApplicationHelper.BuildQRCodeUrl(Model.ReferenceNumberAsQRCode)"
                 alt="Unique QR code for your pet travel application, which will be checked at the port or airport" />
            <div class="qrcode-text">@Localizer["FOR OFFICIAL"]</div>
            <div class="qrcode-text">@Localizer["USE ONLY"]</div>
        </div>

    </div>
</div>

<div class="govuk-grid-row pet-declaration-row">
    <div class="govuk-grid-column-three-quarters">

        <partial name="@WebAppConstants.PartialViews.TravelDocument.ApplicationDetails_MicrochipInfo" model=Model.MicrochipInformation />

        <partial name="@WebAppConstants.PartialViews.TravelDocument.ApplicationDetails_PetDetails" model=Model.PetDetails />

        <partial name="@WebAppConstants.PartialViews.TravelDocument.ApplicationDetails_PetKeeperDetails" model=Model.PetKeeperDetails />

    </div>
</div>

<partial name="@WebAppConstants.PartialViews.TravelDocument.ApplicationDetails_Declaration" model=Model.Declaration />

<style>
    .pet-declaration-row-qrcode {
        margin-bottom: 2px;
    }

    .pet-declaration-row-qrcode .govuk-grid-column-three-quarters {
        gap: 20px;
        align-items: flex-start;
    }

    .govuk-summary-card__content {
        padding: 15px 20px;
    }

    .govuk-summary-list__row {
        margin-bottom: 10px;
    }

    .remove-border {
        border-bottom: 0;
    }

    .govuk-summary-list__key {
        padding: 10px 20px 10px 0;
        margin: 0;
    }

    .govuk-summary-list__value {
        padding: 0;
        margin: 0;
    }

    .pet-declaration-qrcode {
        display: none;
        border: 1px solid #0b0c0c;
        padding: 8px;
        text-align: center;
        width: 120px;
    }

    .pet-declaration-qrcode img {
        width: 90px;
        margin: 0 auto 5px;
    }

    .qrcode-text {
        font-family: "GDS Transport", arial, sans-serif;
        font-weight: 700;
        font-size: 11px;
    }

    #document-issued-card .govuk-summary-list {
        display: table !important;
        width: 100% !important;
    }


    @@media print {
        .pet-declaration-qrcode {
            display: block;
        }

        .pet-declaration-status-row {
            display: none !important;
        }

        .pet-declaration-print #document-issued-card .govuk-summary-list__key {
        width: 38% !important;

        }
        .pet-declaration-print #document-issued-card .govuk-summary-list__value {
            width: 62% !important;
        }
    }
</style>


