@model Defra.PTS.Web.Application.DTOs.Services.ApplicationCertificateDto;
@using Defra.PTS.Web.UI.Constants;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    var pageTitle = Localizer["Lifelong pet travel document and declaration"].Value;
}

<partial name="@WebAppConstants.PartialViews.TravelDocument.ApplicationDetails_PreLoadAssets" />

<div class="govuk-grid-row govuk-!-display-none-print">
    <div class="govuk-grid-column-three-quarters">

        <h1 id="documents" class="govuk-heading-xl govuk-!-margin-bottom-2">
            @pageTitle
        </h1>
        <p class="gem-c-lead-paragraph">
            @Localizer["For dogs, cats or ferrets travelling from Great Britain to Northern Ireland only."]
        </p>

    </div>
</div>

<partial name="@WebAppConstants.PartialViews.TravelDocument.ApplicationDetails_PrintLogos" />

<div class="govuk-grid-row pet-declaration-print-only">
    <div class="govuk-grid-column-three-quarters">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
            @pageTitle
        </h1>
        <p class="govuk-body govuk-body-s">
            @Localizer["For dogs, cats or ferrets travelling from Great Britain to Northern Ireland only."]
        </p>

    </div>
</div>


<partial name="@WebAppConstants.PartialViews.TravelDocument.ApplicationDetails_Issued" model=Model.CertificateIssued />

@if (Model.Status != "Suspended" || Model.Status != "Revoked" || Model.Status != "Cancelled" )
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <partial name="@WebAppConstants.PartialViews.TravelDocument.ApplicationDetails_IssuingAuthority" model=Model.CertificateIssuingAuthority />
        </div>
    </div>
}

<div class="govuk-grid-row pet-declaration-row">
    <div class="govuk-grid-column-three-quarters">

        <partial name="@WebAppConstants.PartialViews.TravelDocument.ApplicationDetails_MicrochipInfo" model=Model.MicrochipInformation />

        <partial name="@WebAppConstants.PartialViews.TravelDocument.ApplicationDetails_PetDetails" model=Model.PetDetails />

        <partial name="@WebAppConstants.PartialViews.TravelDocument.ApplicationDetails_PetKeeperDetails" model=Model.PetKeeperDetails />

    </div>
</div>

<partial name="@WebAppConstants.PartialViews.TravelDocument.ApplicationDetails_Declaration" model=Model.Declaration />

@if (Model.Status != "Suspended")
{
        <partial name="@WebAppConstants.PartialViews.TravelDocument.ApplicationDetails_ActionLinks" model=Model.ActionLinks />
}

else
{
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-display-none-print">
}

