@model IEnumerable<Defra.PTS.Web.Application.DTOs.Services.ApplicationSummaryDto>
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@using Defra.PTS.Web.Domain.ViewModels.TravelDocument;
@using Defra.PTS.Web.UI.Constants;
@using Defra.PTS.Web.UI.Extensions;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@inject IViewLocalizer Localizer
@inject IStringLocalizer<ISharedResource> sharedlocalizer

@{
    var pageTitle = sharedlocalizer["Lifelong pet travel documents"];
    this.SetMetaTitle(pageTitle);
    ViewData.SetKeyValue("MainCssClass", "govuk-!-margin-top-6");
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <h1 id="documents" class="govuk-heading-xl govuk-!-margin-bottom-4">
            @pageTitle
        </h1>
        <p class="govuk-body govuk-body-l">@Localizer["The lifelong pet travel document is only for people living in England, Scotland and Wales travelling to Northern Ireland with their dog, cat or ferret."]</p>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        @if (Model.Any(x => x.Status == "Suspended"))
        {
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    You have been suspended from this scheme and cannot use your pet travel documents or apply for new ones until your suspension is lifted. Check your email for more information, including how to appeal.
                </strong>
            </div>
        }

        else
        {
            <form class="form" action="@WebAppConstants.Pages.TravelDocument.PetKeeperUserDetails" method="get">
                <button class="govuk-button" data-module="govuk-button">
                    @Localizer["Apply for a document"]
                </button>
            </form>
        }

        <partial name="@WebAppConstants.PartialViews.TravelDocument.ApplicationsList" model=@Model />

        
        <p class="govuk-body">
            <a class="govuk-link" href="@WebAppConstants.Pages.TravelDocument.InvalidDocuments">View invalid documents</a>
        </p>

    </div>
</div>

