@model PetFeatureViewModel
@using Defra.PTS.Web.Application.Extensions;
@using Defra.PTS.Web.Domain.ViewModels.TravelDocument;
@using Defra.PTS.Web.Domain.Enums;
@using Defra.PTS.Web.Domain.ViewModels;
@using Defra.PTS.Web.UI.Constants;
@using Defra.PTS.Web.UI.Extensions;

@{
    var fieldsetLegend = new FieldsetLegendViewModel { Label = Model.FormTitle, LabelFor = "Yes" };
    this.SetMetaTitle(Model.FormTitle);
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @using (Html.BeginForm("PetFeature", "TravelDocument", FormMethod.Post, new { @class = "form PetFeature" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.IsCompleted)

            <partial name="_ErrorSummary" />
            <div id="formroot" class="govuk-form-group @(ViewData.ModelState.HasError("HasUniqueFeature") ? "govuk-form-group--error" : "")">
                <fieldset class="govuk-fieldset" aria-describedby="feature-hint">

                    <partial name="_FieldsetLegend" model=fieldsetLegend />

                    <div id="feature-hint" class="govuk-hint">
                        <p class="govuk-body">
                            A significant feature is anything that can help us to identify your pet.
                            <br />
                            For example, if your pet has one eye or a missing leg.
                        </p>
                    </div>

                    @Html.ValidationMessageFor(x => x.HasUniqueFeature, string.Empty, new { @class = "govuk-error-message" })

                    <div class="govuk-form-group" id="HasUniqueFeature">
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                @Html.RadioButtonFor(m => m.HasUniqueFeature, YesNoOptions.Yes, new { @class = "govuk-radios__input", id = "Yes", data_aria_controls = "conditional-FeatureDescription" })
                                <label class="govuk-label govuk-radios__label" for="Yes">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-FeatureDescription">
                                <div class="govuk-form-group">
                                    <div class="govuk-form-group @(ViewData.ModelState.HasError("FeatureDescription") ? "govuk-form-group--error" : "")">
                                        <label class="govuk-label govuk-label--s" for="FeatureDescription">
                                            Briefly describe your pet's significant feature
                                        </label>

                                        @Html.ValidationMessageFor(x => x.FeatureDescription, string.Empty, new { @class = "govuk-error-message" })
                                        @Html.TextAreaFor(x => x.FeatureDescription, new { @id="FeatureDescription",  @class = "govuk-textarea", @rows = "5", @spellcheck = "false" })
                                    </div>
                                </div>
                            </div>
                            <div class="govuk-radios__item">
                                @Html.RadioButtonFor(m => m.HasUniqueFeature, YesNoOptions.No, new { @class = "govuk-radios__input", id = "No" })
                                <label class="govuk-label govuk-radios__label" for="No">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>


                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button" type="submit">
                    Continue
                </button>
            </div>
        }

    </div>
</div>

@section Scripts
    {

    <script>
        $(document).ready(function () {
            $(".govuk-radios__input").click(function () {
                $('.govuk-error-summary').hide();
                $('.govuk-error-message').hide();
                $('#formroot').removeClass("govuk-form-group--error");
                $('#featureinput').removeClass("input-validation-error");
            });
        })

        // $('input, textarea').bind("input", function (e) {
        //     var blockSpecialRegex = /[!$(){}[\]:;<+?\\>]/g;
        //     let txtOrig = $(this).val();
        //     let txtFinal = txtOrig.replace(blockSpecialRegex, '');
        //     if (txtOrig !== txtFinal) {
        //         $(this).val(txtFinal);
        //     }
        // })
    </script>
}

