@model PetKeeperPhoneViewModel
@using Defra.PTS.Web.Domain.ViewModels.TravelDocument;
@using Defra.PTS.Web.Domain.Enums;
@using System.Web;
@using Defra.PTS.Web.UI.Extensions;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<ISharedResource> sharedlocalizer

@{
    this.SetMetaTitle(Localizer[PetKeeperPhoneViewModel.FormTitle].Value);
    var summary = Localizer["We ask for your phone number in case we need to call you about your application."];
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @using (Html.BeginForm("PetKeeperPhone", "TravelDocument", FormMethod.Post, new { @class = "form PetKeeperPhone" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.IsCompleted)

            <partial name="_ErrorSummary" />

            <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")">

                <h1 class="govuk-heading-xl govuk-!-margin-bottom-4" for="Phone">
                    @Localizer[PetKeeperPhoneViewModel.FormTitle]
                </h1>

                <div id="telephone-number-hint" class="govuk-hint">
                    @summary
                </div>

                @Html.ValidationMessageFor(x => x.Phone, string.Empty, new { @class="govuk-error-message"})
                @Html.TextBoxFor(x => x.Phone, new { @class = "govuk-input govuk-input--width-20", @spellcheck = "false", @autocomplete = "tel", @aria_describedby = "telephone-number-hint", type="tel", aria_label = @Localizer[PetKeeperPhoneViewModel.FormTitle].Value })
            </div>

            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button" type="submit">
                    @sharedlocalizer["Continue"]
                </button>
            </div>
        }

    </div>
</div>
