@model PetKeeperAddressManualViewModel
@using Defra.PTS.Web.Application.Extensions
@using Defra.PTS.Web.Domain.ViewModels.TravelDocument;
@using Defra.PTS.Web.Domain.Enums;
@using System.Web;
@using Defra.PTS.Web.Domain.ViewModels;
@using Defra.PTS.Web.UI.Constants;
@using Defra.PTS.Web.UI.Extensions;
@using Defra.PTS.Web.Application.Constants;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<ISharedResource> sharedlocalizer

@{
    var fieldsetLegend = new FieldsetLegendViewModel { Label = (Localizer[PetKeeperAddressManualViewModel.FormTitle].Value), LabelFor = "AddressLineOne" };
    this.SetMetaTitle(Localizer[PetKeeperAddressManualViewModel.FormTitle].Value);
    var errorOrder = new string[] { "AddressLineOne", "AddressLineTwo", "TownOrCity", "County", "Postcode" };
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @using (Html.BeginForm("PetKeeperAddressManual", "TravelDocument", FormMethod.Post, new { @class = "form PetKeeperAddressManual" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.IsCompleted)
            @Html.HiddenFor(x => x.PostcodeRegion)

            <partial name="_ErrorSummaryOrdered" model=errorOrder />

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <partial name="_FieldsetLegend" model=fieldsetLegend />

                    <div id="address-hint" class="govuk-hint">
                        @Localizer["Enter a valid address in England, Scotland or Wales."]
                    </div>

                    <div class="govuk-form-group @(ViewData.ModelState.HasError("AddressLineOne") ? "govuk-form-group--error" : null)">
                        <div class="govuk-label" for="AddressLineOne">
                            @Localizer["Address line 1"]
                        </div>
                        @Html.ValidationMessageFor(x => x.AddressLineOne, string.Empty, new { @class = "govuk-error-message" })
                        @Html.TextBoxFor(x => x.AddressLineOne, new { @class = "govuk-input", @spellcheck = "false", @autocomplete = @WebAppConstants.FormAutofill.AddressLineOne, aria_label = "Address line 1" })
                    </div>

                    <div class="govuk-form-group">
                        <div class="govuk-label" for="AddressLineTwo">
                            @Localizer["Address line 2 (optional)"]
                        </div>
                        @Html.ValidationMessageFor(x => x.AddressLineTwo, string.Empty, new { @class = "govuk-error-message" })
                        @Html.TextBoxFor(x => x.AddressLineTwo, new { @class = "govuk-input", @spellcheck = "false", @autocomplete = @WebAppConstants.FormAutofill.AddressLineTwo, aria_label = "Address line 2 (optional)" })
                    </div>

                    <div class="govuk-form-group @(ViewData.ModelState.HasError("TownOrCity") ? "govuk-form-group--error" : null)">
                        <div class="govuk-label" for="TownOrCity">
                            @Localizer["Town or city"]
                        </div>
                        @Html.ValidationMessageFor(x => x.TownOrCity, string.Empty, new { @class = "govuk-error-message" })
                        @Html.TextBoxFor(x => x.TownOrCity, new { @class = "govuk-input govuk-!-width-two-thirds", @spellcheck = "false", @autocomplete = @WebAppConstants.FormAutofill.CityOrTown, aria_label = "Town or city" })
                    </div>

                    <div class="govuk-form-group">
                        <div class="govuk-label" for="County">
                            @Localizer["County (optional)"]
                        </div>
                        @Html.ValidationMessageFor(x => x.County, string.Empty, new { @class = "govuk-error-message" })
                        @Html.TextBoxFor(x => x.County, new { @class = "govuk-input govuk-!-width-two-thirds", @spellcheck = "false", aria_label = "County (optional)" })
                    </div>

                    <div class="govuk-form-group @(ViewData.ModelState.HasError("Postcode") ? "govuk-form-group--error" : null)">
                        <div class="govuk-label" for="Postcode">
                            @Localizer["Postcode"]
                        </div>
                        @Html.ValidationMessageFor(x => x.Postcode, string.Empty, new { @class = "govuk-error-message" })
                        @Html.TextBoxFor(x => x.Postcode, new { @class = "govuk-input govuk-input--width-10", @spellcheck = "false", aria_label = "Postcode" })
                    </div>
                </fieldset>
            </div>

            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button" type="submit">
                    @sharedlocalizer["Continue"]
                </button>
            </div>
        }
    </div>
</div>
