@model PetMicrochipDateViewModel
@using Defra.PTS.Web.Domain.ViewModels.TravelDocument;
@using Defra.PTS.Web.Domain.ViewModels;
@using Defra.PTS.Web.UI.Constants;
@using Defra.PTS.Web.UI.Extensions;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResource> sharedlocalizer
@inject IViewLocalizer Localizer

@{
    var fieldsetLegend = new FieldsetLegendViewModel { Label = Localizer[Model.FormTitle].Value, LabelFor = "Day" };
    this.SetMetaTitle(Model.FormTitle);
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @using (Html.BeginForm("PetMicrochipDate", "TravelDocument", FormMethod.Post, new { @class = "form PetMicrochipDate" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.IsCompleted)
            @Html.HiddenFor(x => x.BirthDate)

            <partial name="_ErrorSummary" />

            <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")">

                <fieldset class="govuk-fieldset" role="group" aria-describedby="MicrochippedDate-hint">

                    <partial name="_FieldsetLegend" model=fieldsetLegend />

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                @Localizer["Where can I find the microchip date?"]
                            </span>
                        </summary>
                        <div class="govuk-details__text">

                            <p class="govuk-body">@Localizer["Check your pet's microchip certificate or vaccination record for the microchip or scan date."]</p>

                        </div>
                    </details>

                    <div id="MicrochippedDate-hint" class="govuk-hint">
                        @Localizer["For example, 27 3 2023"]
                    </div>

                    @Html.ValidationMessageFor(x => x.MicrochippedDate, string.Empty, new { @class="govuk-error-message"})
                    @Html.ValidationMessageFor(x => x.Day, string.Empty, new { @class="govuk-error-message"})
                    @Html.ValidationMessageFor(x => x.Month, string.Empty, new { @class="govuk-error-message"})
                    @Html.ValidationMessageFor(x => x.Year, string.Empty, new { @class="govuk-error-message"})

                    <div class="govuk-date-input">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label"  for="Day">
                                    @sharedlocalizer["Day"]
                                </label>
                                @Html.TextBoxFor(x => x.Day, new { @class = "govuk-input govuk-date-input__input govuk-input--width-2", id = "Day", @spellcheck = "false" })
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="Month">
                                    @sharedlocalizer["Month"]
                                </label>
                                @Html.TextBoxFor(x => x.Month, new { @class = "govuk-input govuk-date-input__input govuk-input--width-2", id = "Month", @spellcheck = "false" })
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="Year">
                                    @sharedlocalizer["Year"]
                                </label>
                                @Html.TextBoxFor(x => x.Year, new { @class = "govuk-input govuk-date-input__input govuk-input--width-4", id = "Year", @spellcheck = "false" })
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">
                    @sharedlocalizer["Continue"]
                </button>
            </div>
        }
    </div>
</div>

