@model PetMicrochipViewModel
@using Defra.PTS.Web.Application.Extensions;
@using Defra.PTS.Web.Domain.Models;
@using Defra.PTS.Web.Domain.ViewModels.TravelDocument;
@using Defra.PTS.Web.Domain.Enums;
@using Defra.PTS.Web.Domain.ViewModels;
@using Defra.PTS.Web.UI.Constants;
@using Defra.PTS.Web.UI.Extensions;
@using Microsoft.Extensions.Localization;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IStringLocalizer<ISharedResource> sharedlocalizer
@inject IViewLocalizer Localizer

@{
    var fieldsetLegend = new FieldsetLegendViewModel { Label = @Localizer[Model.FormTitle].Value, LabelFor = "Yes" };
    this.SetMetaTitle(@Localizer[Model.FormTitle].Value);
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group ">

            @using (Html.BeginForm("PetMicrochip", "TravelDocument", FormMethod.Post, new { @class = "form PetMicrochip", @id = "PetMicrochip" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.IsCompleted)

                <partial name="_ErrorSummary" />

                <div class="govuk-form-group (@ViewData.ModelState.HasError("HasUniqueFeature") ? " govuk-form-group--error" : null)">
                    <fieldset class="govuk-fieldset" aria-describedby="microchip-hint">

                        <partial name="_FieldsetLegend" model=fieldsetLegend />

                        <div id="microchip-hint" class="govuk-hint">
                            @Localizer[@"Check your pet's microchip certificate for the microchip number."]
                        </div>

                        @Html.ValidationMessageFor(x => x.Microchipped, string.Empty, new { @class = "govuk-error-message" })

                        <p id="OptionSelected_Error" class="govuk-error-message" gds-validation-for="Microchipped"></p>
                        <div class="govuk-radios" data-module="govuk-radios" id="Microchipped">
                            <div class="govuk-form-group @(ViewData.ModelState.HasError("Microchipped") ? "govuk-form-group--error" : null)">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" type="radio" id="MicrochippedYes" asp-for="Microchipped" value="@YesNoOptions.Yes" aria-controls="conditional-feature" aria-expanded="false">
                                    <label class="govuk-label govuk-radios__label" for="MicrochippedYes">
                                        @sharedlocalizer["Yes"]
                                    </label>
                                </div>



                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-feature">
                                    <div class="govuk-form-group @(ViewData.ModelState.HasError("MicrochipNumber") ? "govuk-form-group--error" : null)">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-label--s" for="MicrochipNumber">
                                                @Localizer[@"Enter your pet's microchip number"]
                                            </label>
                                            <div id="account-number-hint" class="govuk-hint">
                                                @Localizer[@"Must be 15 digits long"]
                                            </div>
                                            @Html.ValidationMessageFor(x => x.MicrochipNumber, string.Empty, new { @class = "govuk-error-message" })
                                            <input class="govuk-input govuk-input govuk-input--width-20" id="MicrochipNumber" asp-for="MicrochipNumber" spellcheck="false">
                                        </div>
                                    </div>
                                </div>

                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" type="radio" id="MicrochippedNo" asp-for="Microchipped" value="@YesNoOptions.No" onclick="clearInput()">
                                    <label class="govuk-label govuk-radios__label" for="MicrochippedNo">
                                        @sharedlocalizer["No"]
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="govuk-form-group">
                    <button class="govuk-button" data-module="govuk-button" type="submit">
                        @sharedlocalizer["Continue"]
                    </button>
                </div>

            }
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {

            $("#No").click(function () {
                $('input[type="text"]').val('');
                $('.govuk-error-summary').hide();
                $('.govuk-error-message').hide();
                $('#formroot').removeClass("govuk-form-group--error");
                $('#MicrochipNumber').removeClass("govuk-form-group--error");
                $('#microchipinput').removeClass("input-validation-error");
            });

            $("#Yes").click(function () {
                $('.govuk-error-summary').hide();
                $('.govuk-error-message').hide();
                $('#formroot').removeClass("govuk-form-group--error");
                $('#MicrochipNumber').removeClass("govuk-form-group--error");
                $('#microchipinput').removeClass("input-validation-error");
            });
        })

        // Clear MicrochipNumber text if 'No' is selcted
        function clearInput() {
            document.getElementById("MicrochipNumber").value = "";
        }
    </script>
}
