@model PetNameViewModel
@using Defra.PTS.Web.Domain.ViewModels.TravelDocument;
@using Defra.PTS.Web.Domain.Enums;
@using System.Web;
@using Defra.PTS.Web.Domain.ViewModels;
@using Defra.PTS.Web.UI.Constants;
@using Defra.PTS.Web.UI.Extensions;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<ISharedResource> sharedlocalizer

@{
    this.SetMetaTitle(Localizer[Model.FormTitle].Value);
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @using (Html.BeginForm("PetName", "TravelDocument", FormMethod.Post, new { @class = "form PetName" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.IsCompleted)

            <partial name="_ErrorSummary" />

            <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")">

                <h1 class="govuk-heading-xl govuk-!-margin-bottom-4" for="PetName">
                    @Localizer[Model.FormTitle]
                </h1>

                @Html.ValidationMessageFor(x => x.PetName, string.Empty, new { @class = "govuk-error-message" })
                @Html.TextBoxFor(x => x.PetName, new { @class = "govuk-input", @id = "PetName", @spellcheck = "false", aria_label = @Localizer[Model.FormTitle].Value })
            </div>

            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button" type="submit">
                    @sharedlocalizer["Continue"]
                </button>
            </div>
        }

    </div>
</div>