<div style="overflow: hidden; height: 1px; width: 1px; visibility: hidden;">
    <img src="@Url.Content("~/assets/images/org_crest_13px-02cd4dc76429840b335048d7ea971c06a2e01dee302feb05cec74fbaf927400a.png")" />
    <img src="@Url.Content("~/assets/images/org_crest_13px_x2-f412306c518f95598c202e3383932301f187c7e966d56e2e3f5112a4ecfcbde5.png")" />
    <img src="@Url.Content("~/assets/images/org_crest_18px-5863abda23ccb562f7ca4599038901db5a7f03eb277df5d86d51491033492b62.png")" />
    <img src="@Url.Content("~/assets/images/org_crest_18px_x2-d759444376a83ad439650d64c8de4158658aa1b5034e5a6080e66ebaa9594b0d.png")" />
    <img src="@Url.Content("~/assets/images/org_crest_18px_x2-d759444376a83ad439650d64c8de4158658aa1b5034e5a6080e66ebaa9594b0d.png")" />
</div>