@model IEnumerable<ApplicationSummaryDto>
@using Defra.PTS.Web.Application.DTOs.Services;
@using Defra.PTS.Web.UI.Constants;
@using Defra.PTS.Web.Application.Extensions;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Defra.PTS.Web.Application.Constants;
@inject IViewLocalizer Localizer

@if (Model != null && Model.Any())
{
    <div class="scroll-container" id="scrollContainer">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">@Localizer["Pet name"]</th>
                    <th scope="col" class="govuk-table__header">@Localizer["Species"]</th>
                    <th scope="col" class="govuk-table__header">@Localizer["Pet owner"]</th>
                    <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">@Localizer["Status"]</span></th>
                    <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">@Localizer["View"]</span></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">

                @foreach (var application in Model)
                {
                    var statusCssClass = application.StatusBasedCssClass();
                    var detailsUrl = application.StatusBasedDetailsUrl();

                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                            <span class="pet-long-text">
                                @application.PetName
                            </span>
                        </th>

                        <td class="govuk-table__cell">@application.Species</td>
                        <td class="govuk-table__cell">
                            <span class="pet-long-text">
                                @application.OwnerName
                            </span>
                        </td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag @statusCssClass">
                                @(application.Status == @AppConstants.ApplicationStatus.APPROVED 
                                ? @Localizer["Approved"] 
                                : @Localizer["Awaiting verification"])
                            </strong>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <ul class="govuk-summary-list__actions-list">

                                <li class="govuk-summary-list__actions-list-item">
                                    <a class="govuk-link" href="@detailsUrl">
                                        @Localizer["View"]<span class="govuk-visually-hidden">@Localizer["document"]</span>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}

<script>
    // Function to toggle scrollbar based on screen size
    function toggleScrollbar() {
        var container = document.getElementById('scrollContainer');
        if (window.innerWidth >= 768) {
            container.classList.add('hide-scrollbar');
        } else {
            container.classList.remove('hide-scrollbar');
        }
    }

    // Initial call to set scrollbar state on page load
    toggleScrollbar();

    // Event listener to update scrollbar state on window resize
    window.addEventListener('resize', toggleScrollbar);
    function submitForm(formId) {
        $(`#${formId}`).prop('disabled', true);
        $(`#${formId}`).submit();
        return true;
    }

</script>
