@model Defra.PTS.Web.Application.DTOs.Services.PetDetailsDto;
@using Defra.PTS.Web.UI.Constants;
@using Defra.PTS.Web.Application.Extensions;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div id="document-pet-card" class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">@Localizer["Pet details"]</h2>
    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Localizer["Name"]
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.Name
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Localizer["Species"]
                </dt>
                <dd class="govuk-summary-list__value">
                    @Localizer[@Model.Species]
                </dd>

            </div>

            @if (Model.Species != "Ferret")
            { 
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        @Localizer["Breed"]
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @if (Model.HasBreed)
                        {
                            @Localizer[@Model.Breed]
                        }
                        else
                        {
                            @("-")
                        }
                    </dd>

                </div>
            }


            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Localizer["Sex"]
                </dt>
                <dd class="govuk-summary-list__value">
                    @Localizer[@Model.Gender]
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Localizer["Date of birth"]
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.BirthDate.ToUKDateString()
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Localizer["Colour"]
                </dt>
                <dd class="govuk-summary-list__value">
                    @Localizer[@Model.Colour]
                </dd>

            </div>
            @if (!string.IsNullOrWhiteSpace(Model.Feature))
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        @Localizer["Significant features"]
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Localizer[@Model.Feature]
                    </dd>

                </div>
            }
        </dl>
    </div>
</div>


