@model Defra.PTS.Web.Application.DTOs.Services.CertificateIssuingAuthorityDto;

<div id="document-authority-card" class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Issuing authority</h2>
    </div>
    <div class="govuk-summary-card__content">
        <div class="govuk-summary-list__row">
            <p class="govuk-body">
                This document has been issued [by/on behalf of] the Animal and Plant Health Agency(APHA)] for the purposes of confirming non-commercial movement of the animal as described within from Great Britain to Northern Ireland. This document does not permit this animal to move internationally into the Republic of Ireland or the rest of the European Union.
            </p>
        </div>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name and address of competent authority
                </dt>
                <dd class="govuk-summary-list__value">
                    <strong>@Model.AuthorityName</strong><br />
                    @if (!string.IsNullOrWhiteSpace(Model.AddressLine1))
                    {
                        @Model.AddressLine1

                        <br />
                    }

                    @if (!string.IsNullOrWhiteSpace(Model.AddressLine2))
                    {
                        @Model.AddressLine2

                        <br class="pet-br-print" />
                    }

                    @if (!string.IsNullOrWhiteSpace(Model.AddressLine3))
                    {
                        @Model.AddressLine3

                        <br class="pet-br-print" />
                    }

                    @if (!string.IsNullOrWhiteSpace(Model.TownOrCity))
                    {
                        @Model.TownOrCity

                        <br class="pet-br-print" />
                    }

                    @if (!string.IsNullOrWhiteSpace(Model.Postcode))
                    {
                        @Model.Postcode
                    }
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Signed on behalf of the competent authority (APHA)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.SignedOnBehalfOfAPHA (Signed digitally)
                </dd>
            </div>
        </dl>
    </div>
</div>
