@model IEnumerable<ApplicationSummaryDto>
@using Defra.PTS.Web.Application.DTOs.Services;
@using Defra.PTS.Web.UI.Constants;
@using Defra.PTS.Web.Application.Extensions;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Defra.PTS.Web.Application.Constants;
@inject IViewLocalizer Localizer

@if (Model != null && Model.Any())
{
    <div class="table-responsive-wrapper">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-half pet-name-column">@Localizer["Pet name"]</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter status-column">@Localizer["Status"]</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter actions-column"><span class="govuk-visually-hidden">@Localizer["View"]</span></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">

                @foreach (var application in Model)
                {
                    var statusCssClass = application.StatusBasedCssClass();
                    var detailsUrl = application.StatusBasedDetailsUrl();

                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header pet-name-column" data-label="@Localizer["Pet name"]">
                            @application.PetName
                        </th>

                        <td class="govuk-table__cell status-column" data-label="@Localizer["Status"]">
                            <strong class="govuk-tag @statusCssClass">
                            @(
                                application.Status switch
                                {
                                    AppConstants.ApplicationStatus.APPROVED => Localizer["Approved"],
                                    AppConstants.ApplicationStatus.SUSPENDED => Localizer["Suspended"],
                                    AppConstants.ApplicationStatus.REVOKED => Localizer["Cancelled"],
                                    AppConstants.ApplicationStatus.UNSUCCESSFUL => Localizer["Unsuccessful"],
                                    _ => Localizer["Pending"]
                                }
                            )
                            </strong>
                        </td>
                        <td class="govuk-table_cell govuk-table_cell--numeric actions-column" data-label="@Localizer["Actions"]">
                            <ul class="govuk-summary-list__actions-list">

                                <li class="govuk-summary-list__actions-list-item">
                                    <a class="govuk-link" href="@detailsUrl">
                                        @Localizer["View"]<span class="govuk-visually-hidden">@Localizer["document"]</span>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}

<style>
.table-responsive-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
 
.table-responsive-wrapper .govuk-table {
    table-layout: fixed;
    width: 100%;
    min-width: 700px;
}
 
.table-responsive-wrapper .govuk-table__header,
.table-responsive-wrapper .govuk-table__cell {
    overflow-wrap: break-word;
    word-break: break-word;
}
 
/* Explicit column widths */
.table-responsive-wrapper .govuk-table__header:nth-child(1),
.table-responsive-wrapper .govuk-table__cell[data-label="@Localizer["Pet name"]"] {
    width: 40%;
}
.table-responsive-wrapper .govuk-table__header:nth-child(2),
.table-responsive-wrapper .govuk-table__cell[data-label="@Localizer["Status"]"] {
    width: 32%;
}
.table-responsive-wrapper .govuk-table__header:nth-child(3),
.table-responsive-wrapper .govuk-table__cell[data-label="@Localizer["Actions"]"] {
    width: 28%;
}
 
/* Tag: single line, no wrap, no bleed */
.govuk-tag {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}
</style>

<script>
    function handleTableScroll() {
        var container = document.querySelector('.table-responsive-wrapper');
        if (!container) return;

        if (window.innerWidth >= 768) {
            container.classList.add('hide-scrollbar');
            container.style.overflowX = 'hidden';
        } else {
            container.classList.remove('hide-scrollbar');
            container.style.overflowX = 'auto';

            container.style.webkitTransform = 'translateZ(0)';
        }
    }


    handleTableScroll();


    let timeout;
    window.addEventListener('resize', function () {
        clearTimeout(timeout);
        timeout = setTimeout(handleTableScroll, 250);
    });


    if ('ontouchstart' in window) {
        const scrollContainer = document.querySelector('.table-responsive-wrapper');
        if (scrollContainer) {
            scrollContainer.addEventListener('touchstart', function () {
                this.style.webkitOverflowScrolling = 'touch';
            });
        }
    }
</script>