@model IEnumerable<ApplicationSummaryDto>
@using Defra.PTS.Web.Application.DTOs.Services;
@using Defra.PTS.Web.UI.Constants;
@using Defra.PTS.Web.Application.Extensions;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Defra.PTS.Web.Application.Constants;
@inject IViewLocalizer Localizer

@if (Model != null && Model.Any())
{
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-half">@Localizer["Pet name"]</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">@Localizer["Status"]</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"><span class="govuk-visually-hidden">@Localizer["View"]</span></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">

                @foreach (var application in Model)
                {
                    var statusCssClass = application.StatusBasedCssClass();
                    var detailsUrl = application.StatusBasedDetailsUrl();

                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">
                                @application.PetName
                        </th>

                        <td class="govuk-table__cell">
                            <strong class="govuk-tag @statusCssClass">
                                @(application.Status == @AppConstants.ApplicationStatus.APPROVED
                                    ? @Localizer["Approved"]
                                    : @Localizer["Pending"])
                            </strong>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <ul class="govuk-summary-list__actions-list">

                                <li class="govuk-summary-list__actions-list-item">
                                    <a class="govuk-link" href="@detailsUrl">
                                        @Localizer["View"]<span class="govuk-visually-hidden">@Localizer["document"]</span>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
}

<script>
    function handleTableScroll() {
        var container = document.getElementById('scrollContainer');
        if (!container) return;

        if (window.innerWidth >= 768) {
            container.classList.add('hide-scrollbar');
            container.style.overflowX = 'hidden';
        } else {
            container.classList.remove('hide-scrollbar');
            container.style.overflowX = 'auto';
            // For Safari/iOS 
            container.style.webkitTransform = 'translateZ(0)';
        }
    }

    
    handleTableScroll();

    // Resize
    let timeout;
    window.addEventListener('resize', function () {
        clearTimeout(timeout);
        timeout = setTimeout(handleTableScroll, 250);
    });

    // Touch event handling for  mobile scrolling
    if ('ontouchstart' in window) {
        const scrollContainer = document.getElementById('scrollContainer');
        if (scrollContainer) {
            scrollContainer.addEventListener('touchstart', function () {
                this.style.webkitOverflowScrolling = 'touch';
            });
        }
    }
</script>