@model Defra.PTS.Web.Application.DTOs.Services.PetKeeperDetailsDto;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div id="document-owner-card" class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">@Localizer["Pet owner details (place of issuance)"]</h2>
    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">@Localizer["Name"]</dt>
                <dd class="govuk-summary-list__value">@Model.Name</dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">@Localizer["Email"]</dt>
                <dd class="govuk-summary-list__value">@Model.Email</dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Localizer["Address"]
                </dt>
                 @if (!Model.IsGeneratingPdf)  // Assuming you have a flag for PDF generation
                {
                    <dd class="govuk-summary-list__value">
                    @if (!string.IsNullOrWhiteSpace(Model.AddressLine1))
                    {
                        @($"{Model.AddressLine1}, ")
                    }

                    @if (!string.IsNullOrWhiteSpace(Model.AddressLine2))
                    {
                        @($"{Model.AddressLine2}, ")
                    }

                    @if (!string.IsNullOrWhiteSpace(Model.AddressLine3))
                    {
                        @($"{Model.AddressLine3}, ")
                    }

                    @if (!string.IsNullOrWhiteSpace(Model.TownOrCity))
                    {
                        @($"{Model.TownOrCity}, ")
                    }

                    @if (!string.IsNullOrWhiteSpace(Model.Postcode))
                    {
                        @Model.Postcode
                    }
                    </dd>
                }
                else
                {
                    <dd class="govuk-summary-list__value">
                        @if (!string.IsNullOrWhiteSpace(Model.AddressLine1))
                        {
                            @($"{Model.AddressLine1}, ")

                            <br />
                        }

                        @if (!string.IsNullOrWhiteSpace(Model.AddressLine2))
                        {
                            @($"{Model.AddressLine2}, ")
                        }

                        @if (!string.IsNullOrWhiteSpace(Model.AddressLine3))
                        {
                            @($"{Model.AddressLine3}, ")
                        }

                        @if (!string.IsNullOrWhiteSpace(Model.TownOrCity))
                        {
                            @($"{Model.TownOrCity}, ")
                        }

                        @if (!string.IsNullOrWhiteSpace(Model.Postcode))
                        {
                            @Model.Postcode
                        }
                    </dd>
                }

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">@Localizer["Phone number"]</dt>
                <dd class="govuk-summary-list__value">@Model.Phone</dd>

            </div>
        </dl>
    </div>
</div>
