@model Defra.PTS.Web.Application.DTOs.Services.DeclarationDto;
@using Defra.PTS.Web.UI.Constants;
@using Defra.PTS.Web.Application.Extensions;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="govuk-grid-row pet-document-declaration-print">
    <div class="govuk-grid-column-three-quarters">
        <!-- explain what to do if they are travelling to Ireland or EU -->
        <h2 class="govuk-heading-l">@Localizer["Declaration"]</h2>
        <style>@@media print {a[href]:after {content: none !important;}}</style>
        <p class="govuk-body">@Localizer["I declare that:"]</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>@Localizer["I am the applicant"]</li>
            <li>@Localizer["The answers I have given are true and correct to the best of my knowledge"]</li>
            <li>@Localizer["I understand that I can travel with this pet to and from Northern Ireland only and not to an EU member state (Ireland is an EU member state)"]</li>
            <li>@Localizer["I am not taking the animal as part of a commercial movement"]</li>

            @{
                var serviceUrl = Configuration.GetValue<string>("AppSettings:ServiceUrl");
                // Get the base URL from the HttpContext
                var termsUrl = $"{serviceUrl}/Content/TermsAndConditions";
            }

           @* <li>@Localizer["I have read and I accept the"] <a class="govuk-link" href="@Url.Content(WebAppConstants.Pages.Content.TermsAndConditions)">@Localizer["Pet Travel Scheme terms and conditions"]</a></li> *@
            <li>@Localizer["I have read and I accept the"] <a class="govuk-link" href="@termsUrl">@Localizer["Pet Travel Scheme terms and conditions"]</a></li>
            <li>@Localizer["I have read "]<a class="govuk-link" target="_blank" rel="noopener noreferrer" href="@WebAppConstants.ExternalLinks.PrivacyNotice"> @Localizer["Defra's privacy notice"] <span class="govuk-!-display-none-print">@Localizer["(opens in a new tab)"]</span></a></li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-display-none-print">

        <div class="govuk-grid-row pet-document-signature">
            <div class="govuk-grid-column-two-thirds">

                <p class="govuk-body"><strong>@Localizer["Name and signature of pet owner"]</strong> <br />@Model.PetOwnerName (@Localizer["Signed digitally"])</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <p class="govuk-body"><strong>@Localizer["Date"]</strong> <br />@Model.ApplicationDate.ToUKDateString()</p>
            </div>
        </div>
    </div>
</div>
