@model Defra.PTS.Web.Application.DTOs.Services.ActionLinksDto; 
@using Defra.PTS.Web.UI.Constants;
@using Defra.PTS.Web.Application.Extensions;
@using Defra.PTS.Web.Domain.Enums;
@using Defra.PTS.Web.Application.Helpers;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<ISharedResource> sharedlocalizer

<style>
    .govuk-link {
        font-family: 'GDS Transport', arial, sans-serif;
        background: none;
        border: none;
        color: #1d70b8;
        text-decoration: underline;
        cursor: pointer;
    }

    .govuk-\!-font-size-14 {
        font-size: 19px !important;
        line-height: 1.25 !important;
    }

    @@media (max-width: 800px) {
      .govuk-\!-font-size-14 {
        font-size: 16px !important;
        line-height: 1.4285714286 !important;
      }
    }

    .print-link{
        padding: 0px !important;
    }
    
    .govuk-link:hover {
        text-decoration: none;
    }
</style>

<div class="govuk-grid-row govuk-!-display-none-print">
    <div class="govuk-grid-column-three-quarters">

        @{
            string printLinkText = string.Empty;
            string downloadLinkText = string.Empty;

            if (Model.PdfType == PdfType.Application)
            {
                printLinkText = "Print your application";
                downloadLinkText = "Download your application";
            }
            else
            {
                printLinkText = "Print your document";
                downloadLinkText = "Download your document";
            }
        }

        <ul class="pet-print-download-nav">
            <li>
                <span class="hod-icons-printer"></span>
                <p class="govuk-body govuk-!-font-size-14 ">
                    <button class="govuk-link govuk-!-font-size-14 print-link"
                            aria-label="@sharedlocalizer[printLinkText]"
                            id="print-this-page"
                            onclick="printWithStyles()"
                            type="button">
                        @sharedlocalizer[printLinkText]
                    </button>
                </p>
            </li>

            @if (Model.ShowDownloadLink)
            {
                var downloadFilename = ApplicationHelper.BuildPdfDownloadFilename(Model.ReferenceNumber);
                var downloadUrl = ApplicationHelper.BuildPdfDownloadUrl(Model.Id, Model.ReferenceNumber, Model.PdfType);

                <li>
                    <span class="hod-icons-download-button"></span>
                    <p class="govuk-body govuk-\!-font-size-14">
                        <a aria-label="@sharedlocalizer[downloadLinkText]"
                           class="govuk-link govuk-!-font-size-14"
                           download="@downloadFilename"
                           href="@downloadUrl">
                            @sharedlocalizer[downloadLinkText]
                        </a>
                    </p>
                </li>
            }
        </ul>
    </div>
</div>



