@model IEnumerable<ApplicationSummaryDto>
@using Defra.PTS.Web.Application.DTOs.Services;
@using Defra.PTS.Web.UI.Constants;
@using Defra.PTS.Web.Application.Extensions;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Defra.PTS.Web.Application.Constants;
@inject IViewLocalizer Localizer

@if (Model != null && Model.Any())
{
    <div class="table-responsive-wrapper">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-half">@Localizer["Pet name"]</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">@Localizer["Status"]</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter"><span class="govuk-visually-hidden">@Localizer["View"]</span></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">

                @foreach (var application in Model)
                {
                    var statusCssClass = application.StatusBasedCssClass();
                    var detailsUrl = application.StatusBasedDetailsUrl();

                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header" data-label="@Localizer["Pet name"]">
                            @application.PetName
                        </th>

                        <td class="govuk-table__cell" data-label="@Localizer["Status"]">
                            <strong class="govuk-tag @statusCssClass">
                            @(
                                application.Status switch
                                {
                                    AppConstants.ApplicationStatus.APPROVED => Localizer["Approved"],
                                    AppConstants.ApplicationStatus.SUSPENDED => Localizer["Suspended"],
                                    _ => Localizer["Pending"]
                                }
                            )
                            </strong>
                        </td>
                        <td class="govuk-table_cell govuk-table_cell--numeric" data-label="@Localizer["Actions"]">
                            <ul class="govuk-summary-list__actions-list">

                                <li class="govuk-summary-list__actions-list-item">
                                    <a class="govuk-link" href="@detailsUrl">
                                        @Localizer["View"]<span class="govuk-visually-hidden">@Localizer["document"]</span>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}

<script>
    function handleTableScroll() {
        var container = document.querySelector('.table-responsive-wrapper');
        if (!container) return;

        if (window.innerWidth >= 768) {
            container.classList.add('hide-scrollbar');
            container.style.overflowX = 'hidden';
        } else {
            container.classList.remove('hide-scrollbar');
            container.style.overflowX = 'auto';

            container.style.webkitTransform = 'translateZ(0)';
        }
    }


    handleTableScroll();


    let timeout;
    window.addEventListener('resize', function () {
        clearTimeout(timeout);
        timeout = setTimeout(handleTableScroll, 250);
    });


    if ('ontouchstart' in window) {
        const scrollContainer = document.querySelector('.table-responsive-wrapper');
        if (scrollContainer) {
            scrollContainer.addEventListener('touchstart', function () {
                this.style.webkitOverflowScrolling = 'touch';
            });
        }
    }
</script>