@model PetKeeperDetailsCvm
@using Defra.PTS.Web.Domain.ViewModels.Components;
@using Defra.PTS.Web.Domain.ViewModels.TravelDocument;
@using Defra.PTS.Web.Domain.Enums;
@using Defra.PTS.Web.Application.Extensions;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    var currentCulture = System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
    var changeText = currentCulture == "cy" ? "Newid" : "Change";
}

<div id="document-owner-card" class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">@Localizer["Pet owner details (place of issuance)"]</h2>
    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">@Localizer["Name"]</dt>
                <dd class="govuk-summary-list__value">@Model.Name</dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@Model.NameUrl">
                        @changeText<span class="govuk-visually-hidden"> @Localizer["Change name of pet owner"]</span>
                    </a>
                </dd>
            </div>

            @if (!string.IsNullOrWhiteSpace(Model.Email))
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">@Localizer["Email"]</dt>
                    <dd class="govuk-summary-list__value">@Model.Email</dd>
                    <dd class="govuk-summary-list__actions"></dd>
                </div>
            }

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Localizer["Address"]
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.Address.AddressLineOne @Model.Address.AddressLineTwo<br class="pet-br-print" />
                    @Model.Address.TownOrCity<br class="pet-br-print" />
                    @if (Model.Address.County != null && Model.Address.County != "")
                    {
                        @Model.Address.County

                        <br class="pet-br-print" />
                    }
                    @Model.Address.Postcode
                    @Html.ValidationMessage("Postcode", string.Empty, new { @class = "govuk-error-message" })
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@Model.AddressUrl">
                        @changeText<span class="govuk-visually-hidden"> @Localizer["Change address"]</span>
                    </a>
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">@Localizer["Phone number"]</dt>
                <dd class="govuk-summary-list__value">
                    @Model.Phone
                    @Html.ValidationMessage("Phone", string.Empty, new { @class = "govuk-error-message" })
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@Model.PhoneUrl">
                        @changeText<span class="govuk-visually-hidden"> @Localizer["Change phone number"]</span>
                    </a>
                </dd>
            </div>
        </dl>
    </div>
</div>