@model PetKeeperDetailsCvm
@using Defra.PTS.Web.Domain.ViewModels.Components;
@using Defra.PTS.Web.Domain.ViewModels.TravelDocument;
@using Defra.PTS.Web.Domain.Enums;
@using Defra.PTS.Web.Application.Extensions;

<div id="document-owner-card" class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Pet owner details</h2>
    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Name</dt>
                <dd class="govuk-summary-list__value">@Model.Name</dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@Model.NameUrl">
                        Change<span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>

            @if (!string.IsNullOrWhiteSpace(Model.Email))
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Email</dt>
                    <dd class="govuk-summary-list__value">@Model.Email</dd>
                    <dd class="govuk-summary-list__actions"></dd>
                </div>
            }

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Address
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.Address.AddressLineOne @Model.Address.AddressLineTwo<br class="pet-br-print" />
                    @Model.Address.TownOrCity<br class="pet-br-print" />
                    @Model.Address.Postcode
                    @Html.ValidationMessage("Postcode", string.Empty, new { @class = "govuk-error-message" })
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@Model.AddressUrl">
                        Change<span class="govuk-visually-hidden"> address</span>
                    </a>
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Phone number</dt>
                <dd class="govuk-summary-list__value">
                    @Model.Phone
                    @Html.ValidationMessage("Phone", string.Empty, new { @class = "govuk-error-message" })
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@Model.PhoneUrl">
                        Change<span class="govuk-visually-hidden"> phone number</span>
                    </a>
                </dd>
            </div>
        </dl>
    </div>
</div>