@model MicrochipInformationCvm
@using Defra.PTS.Web.Domain.ViewModels.Components;
@using Defra.PTS.Web.Domain.Enums;
@using Defra.PTS.Web.UI.Constants;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    var currentCulture = System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
    var changeText = currentCulture == "cy" ? "Newid" : "Change";
}

<div id="document-microchip-card" class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">@Localizer["Microchip information"]</h2>
    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Localizer["Microchip number"]
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.MicrochipNumber
                </dd>

                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@WebAppConstants.Pages.TravelDocument.PetMicrochip">
                        @changeText<span class="govuk-visually-hidden"> @Localizer["Change microchip number"]</span>
                    </a>
                </dd>

            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Localizer["Implant location"]
                </dt>
                <dd class="govuk-summary-list__value">
                    @Localizer["Under the skin"]
                </dd>

                <dd class="govuk-summary-list__actions">
                </dd>

            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Localizer["Implant or scan date"]
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.MicrochipDate
                </dd>

                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@WebAppConstants.Pages.TravelDocument.PetMicrochipDate">
                        @changeText<span class="govuk-visually-hidden"> @Localizer["Change implant or scan date"]</span>
                    </a>
                </dd>

            </div>
        </dl>
    </div>
</div>