@using Defra.PTS.Web.UI.Extensions;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@inject IViewLocalizer Localizer
@inject IStringLocalizer<ISharedResource> sharedlocalizer

@{
    var pageTitle = "Accessibility statement for ‘Taking a dog, cat or ferret from Great Britain to Northern Ireland’";
    this.SetMetaTitle(pageTitle);
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper pet-main" id="main-content">

        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">
                        @Localizer[@pageTitle]
                    </h1>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body">
                        @Localizer["This accessibility statement applies to the ‘Taking a dog, cat or ferret from Great Britain to Northern Ireland’ service. This website is run by the Department for Environment, Food and Rural Affairs."]
                    </p>

                    <p class="govuk-body">
                        @Localizer["We want as many people as possible to be able to use this website. For example, that means you should be able to:"]
                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>@Localizer["change colours, contrast levels and fonts using browser or device settings"]</li>
                        <li>
                            @Localizer["zoom in up to 400% without the text spilling off the screen"]
                        </li>
                        <li>
                            @Localizer["navigate most of the website using a keyboard or speech recognition software"]
                        </li>
                        <li>
                            @Localizer["listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)"]
                        </li>
                    </ul>
                    <p class="govuk-body">
                        @Localizer["We’ve also made the website text as simple as possible to understand."]
                    </p>
                    <p class="govuk-body">
                        <a href="https://mcmw.abilitynet.org.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">@Localizer["AbilityNet (opens in new tab)"]</a> @Localizer["has advice on making your device easier to use if you have a disability."]
                    </p>

                    <h2 class="govuk-heading-l">@Localizer["How accessible this website is"]</h2>
                    <p class="govuk-body">
                        @Localizer["This website is fully accessible."]
                    </p>

                    <h2 class="govuk-heading-l">
                        @Localizer["Feedback and contact information"]
                    </h2>
                    <p class="govuk-body">
                        @Localizer["If you’d like support applying for a lifelong pet travel document, phone 03000 200 301. The line is open from 8.30am to 5pm, Monday to Friday (excluding bank holidays)."]
                    </p><p class="govuk-body">
                        <a href="https://www.gov.uk/call-charges" rel="noreferrer noopener" target="_blank">@Localizer["Find out about call charges (open in new tab)"]</a>.
                    </p>

                    <p class="govuk-body">
                        @Localizer["Contact us:"]
                    </p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            @Localizer["if you find any problems not listed on this page or think we’re not meeting accessibility requirements"]
                        </li>
                        <li>
                            @Localizer["if you need information on this website in a different format, like accessible PDF, large print, easy read, audio recording or braille"]
                        </li>
                    </ul>

                    <p class="govuk-body">
                        @Localizer["Contact us by:"]
                    </p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>@Localizer["Email:"] <a href="mailto:NIPetTravel@apha.gov.uk">NIPetTravel@apha.gov.uk</a> </li>
                        <li>
                            @Localizer["Phone: 03000 200 301 – from 8.30am to 5pm, Monday to Friday (excluding bank holidays)"]
                        </li>
                    </ul>

                    <p>@Localizer["We’ll consider your request and get back to you within 5 days."]</p>

                    <h2 class="govuk-heading-l">
                        @Localizer["Enforcement procedure"]
                    </h2>
                    <p class="govuk-body">
                        @Localizer["The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint,"] <a href="https://www.equalityadvisoryservice.com/" rel="noreferrer noopener" target="_blank">@Localizer["contact the Equality Advisory and Support Service (EASS) (opens in a new tab)"]</a>.
                    </p>

                    <h2 class="govuk-heading-m">
                        @Localizer["Compliance status"]
                    </h2>

                    <p>@Localizer["The website is fully compliant with the"] <a href="https://www.w3.org/TR/WCAG22/" rel="noreferrer noopener" target="_blank">@Localizer["Web Content Accessibility Guidelines (WCAG) 2.2 (w3.org) (opens in a new tab)"]</a> @Localizer["AA standard."]</p>

                    
                    <h1 class="govuk-heading-l">
                        @Localizer["Technical information about this website’s accessibility"]
                    </h1>

                    <p>@Localizer["The Department for Environment, Food and Rural Affairs is committed to making its website accessible, in accordance with the"] <a href="https://www.legislation.gov.uk/uksi/2018/952/contents" target="_blank">@Localizer["Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (opens in a new tab)"]</a>.</p>

                    <h2 class="govuk-heading-l">
                        @Localizer["Preparation of this accessibility statement"]
                    </h2>

                    <p class="govuk-body">
                        @Localizer["This statement was prepared on 6 February 2025. It was last reviewed on 17 July 2025."]
                    </p>
                    <p class="govuk-body">
                        @Localizer["This website was last tested on 8 May 2025 against the WCAG 2.2 AA standard."]
                    </p>
                    <p class="govuk-body">
                        @Localizer["The test was carried out by Digital Accessibility Centre. The most viewed pages were tested using automated testing tools by our website team."]
                    </p>
                </div>
            </div>
        </div>
    </main>
</div>