@model CookiesModel
@using Defra.PTS.Web.UI.Extensions;
@inject IConfiguration config
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    var pageTitle = Localizer["Cookies"].Value;
    this.SetMetaTitle(pageTitle);
    Layout = "_LayoutExternal";
    var ga = config["GoogleTagManager:MeasurementId"].Remove(0, 2);
}

<div class="govuk-width-container">

    <main class="govuk-main-wrapper pet-main" id="main-content">

        @using (Html.BeginForm("SetCookie", "Content", FormMethod.Post, new { @class = "form" }))
        {
            @Html.HiddenFor(x => x.MeasurementId)

            <div class="govuk-width-container">
                <div class="govuk-main-wrapper " id="main-content">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            
                            <!-- Put saved message here -->
                            @if (Model.Saved)
                            {
                                <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" data-govuk-notification-banner-init="">
                                    <div class="govuk-notification-banner__header">
                                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                                            @Localizer["Success"]
                                        </h2>
                                    </div>
                                    <div class="govuk-notification-banner__content">
                                        <p class="govuk-notification-banner__heading">
                                            @Localizer["You’ve set your cookie preferences."]
                                        </p>
                                    </div>
                                </div>
                            }

                            <h1 class="govuk-heading-xl">@pageTitle</h1>
                        </div>
                    </div>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <p class="govuk-body">
                                @Localizer["This service uses cookies – cookies are small files saved on your phone, tablet or computer when you visit a website. We use 2 types of cookies on this site:"]
                            </p>

                            <ul class="govuk-list govuk-list--bullet">
                                <li>@Localizer["essential cookies – these are strictly necessary"]</li>
                                <li>@Localizer["optional cookies – these are used to measure your use of the service"]</li>
                            </ul>

                            <p>@Localizer["You can learn more about cookies and how to manage them on the"] <a href="https://ico.org.uk/for-the-public/online/cookies" rel="noreferrer noopener" target="_blank">@Localizer["website for the Information Commissioner’s Office (opens in a new tab)."]</a>.</p>

                            <h2 class="govuk-heading-m">@Localizer["Essential cookies (strictly necessary)"]</h2>

                            <p>@Localizer["We need to collect these cookies in order for the service to work."]</p>

                            <h3 class="govuk-heading-s">@Localizer["Introductory cookie message"]</h3>

                            <p>@Localizer["You may see a pop-up welcome message when you first visit. A cookie is stored so that your computer knows you’ve seen it and knows not to show it again."]</p>

                            <h3 class="govuk-heading-s">@Localizer["Essential cookies we use"]</h3>

                            <table class="govuk-table govuk-!-margin-bottom-7">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header govuk-!-width-one-third" scope="col">
                                            @Localizer["Name"]
                                        </th>
                                        <th class="govuk-table__header govuk-!-width-one-half" scope="col">
                                            @Localizer["Purpose"]
                                        </th>
                                        <th class="govuk-table__header" scope="col">@Localizer["Expires"]</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell govuk-!-width-one-third">
                                            seen_cookie_message
                                        </td>
                                        <td class="govuk-table__cell">
                                            @Localizer["Saves a message to let us know that you’ve seen our cookie message"]
                                        </td>
                                        <td class="govuk-table__cell">@Localizer["12 months"]</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">cookie_policy</td>
                                        <td class="govuk-table__cell">
                                            @Localizer["Saves a message to let us know that you’ve accepted or rejected cookies"]
                                        </td>
                                        <td class="govuk-table__cell">@Localizer["12 months"]</td>
                                    </tr>
                                </tbody>
                            </table>


                            <h3 class="govuk-heading-s">@Localizer["Other essential cookies"]</h3>

                            <table class="govuk-table govuk-!-margin-bottom-7">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header govuk-!-width-one-third" scope="col">
                                            @Localizer["Name"]
                                        </th>
                                        <th class="govuk-table__header govuk-!-width-one-half" scope="col">
                                            @Localizer["Purpose"]
                                        </th>
                                        <th class="govuk-table__header" scope="col">@Localizer["Expires"]</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">

                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">.AspNetCore.Antiforgery</td>
                                        <td class="govuk-table__cell">
                                            @Localizer["Prevents forgery attacks from other websites – this helps to keep your information secure"]
                                        </td>
                                        <td class="govuk-table__cell">@Localizer["When you close the browser"]</td>
                                    </tr>

                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">.AspNetCore.Culture</td>
                                        <td class="govuk-table__cell">
                                            @Localizer["Stores the language of the service"]
                                        </td>
                                        <td class="govuk-table__cell">@Localizer["1 year"]</td>
                                    </tr>

                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">.AspNetCore.Session</td>
                                        <td class="govuk-table__cell">
                                            @Localizer["Stores data you’ve provided during the session"]
                                        </td>
                                        <td class="govuk-table__cell">@Localizer["1 hour"]</td>
                                    </tr>

                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">.AspNetCore.Session</td>
                                        <td class="govuk-table__cell">
                                            @Localizer["Stores data you’ve provided during the session"]
                                        </td>
                                        <td class="govuk-table__cell">@Localizer["1 hour"]</td>
                                    </tr>

                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">PTS</td>
                                        <td class="govuk-table__cell">
                                            @Localizer["Stores data you’ve provided during the session"]
                                        </td>
                                        <td class="govuk-table__cell">@Localizer["1 hour"]</td>
                                    </tr>

                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">PTSC1</td>
                                        <td class="govuk-table__cell">
                                            @Localizer["Stores data you’ve provided during the session"]
                                        </td>
                                        <td class="govuk-table__cell">@Localizer["1 hour"]</td>
                                    </tr>

                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">PTSC2</td>
                                        <td class="govuk-table__cell">
                                            @Localizer["Stores data you’ve provided during the session"]
                                        </td>
                                        <td class="govuk-table__cell">@Localizer["1 hour"]</td>
                                    </tr>

                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">PTSC3</td>
                                        <td class="govuk-table__cell">
                                            @Localizer["Stores data you’ve provided during the session"]
                                        </td>
                                        <td class="govuk-table__cell">@Localizer["1 hour"]</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h2 class="govuk-heading-m">@Localizer["Optional cookies"]</h2>

                            <p>@Localizer["We use Google Analytics software to understand how people use this service. We do this to help make sure the site is meeting the needs of its users and to help us make improvements."]</p>

                            <p>@Localizer["We do not collect or store your personal information (for example your name or address) so this information cannot be used to identify who you are."]</p>

                            <p>@Localizer["We do not allow Google to use or share our analytics data."]</p>

                            <p>@Localizer["Google Analytics stores information about:"]</p>

                            <ul class="govuk-list govuk-list--bullet">
                                <li>@Localizer["the pages you visit"]</li>
                                <li>@Localizer["how long you spend on each page"]</li>
                                <li>@Localizer["how you arrived at the site"]</li>
                                <li>@Localizer["what you click on while you visit the site"]</li>
                                <li>@Localizer["the device and browser you use"]</li>
                            </ul>

                            <h3 class="govuk-heading-s">@Localizer["Google Analytics cookies we use"]</h3>

                            <table class="govuk-table govuk-!-margin-bottom-7">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header govuk-!-width-one-third" scope="col">
                                            @Localizer["Name"]
                                        </th>
                                        <th class="govuk-table__header govuk-!-width-one-half" scope="col">
                                            @Localizer["Purpose"]
                                        </th>
                                        <th class="govuk-table__header" scope="col">@Localizer["Expires"]</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">_ga</td>
                                        <td class="govuk-table__cell">
                                            @Localizer["Helps us to count how many people use the service by tracking if you’ve visited before"]
                                        </td>
                                        <td class="govuk-table__cell">@Localizer["In 2 years"]</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">_ga_@ga</td>
                                        <td class="govuk-table__cell">
                                            @Localizer["Helps us to count how many people use the service by tracking if you’ve visited before"]
                                        </td>
                                        <td class="govuk-table__cell">@Localizer["In 2 years"]</td>
                                    </tr>
                                </tbody>
                            </table>



                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                        @Localizer["Do you want to accept Google Analytics cookies?"]
                                    </legend>
                                    <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
                                        <div class="govuk-radios__item">
                                            @Html.RadioButtonFor(m => m.GaCookieAcceptYesNo, "accept", new { @class = "govuk-radios__input", id = "yes" })
                                            <label class="govuk-label govuk-radios__label" for="yes">
                                                @Localizer["Yes"]
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            @Html.RadioButtonFor(m => m.GaCookieAcceptYesNo, "reject", new { @class = "govuk-radios__input", id = "no" })
                                            <label class="govuk-label govuk-radios__label" for="no">
                                                @Localizer["No"]
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
                                @Localizer["Save cookies settings"]
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            }


    </main>

</div>