@using Defra.PTS.Web.UI.Extensions;
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer

@{
    
    var pageTitle = Localizer["You cannot access this page or perform this action"].Value;
    
    this.SetMetaTitle(pageTitle);
    Layout ="_LayoutSlim";    
    
    var callChargesUrl = "https://www.gov.uk/call-charges";    
    var welshUrlLocalization = Localizer["CallChargesUrl"];    
    if(!string.IsNullOrEmpty(welshUrlLocalization?.Value) && welshUrlLocalization.Value !="CallChargesUrl")    
    {
       callChargesUrl = welshUrlLocalization.Value;    
    }

}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper pet-main" id="main-content">
        <div class="govuk-width-container">
            <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h1 class="govuk-heading-l">@Localizer["You cannot access this page or perform this action"]</h1>
                        <p class="govuk-body">
                            @Localizer["If you typed the web address, check it is correct."]
                        </p>
                        <p class="govuk-body">
                            @Localizer["If you pasted the web address, check you copied the entire address."]
                        </p>
                        <p class="govuk-body">
                            @Localizer["If you tried to save some information in the service, "]<a href="javascript: history.back();">@Localizer["go back to the previous page"]</a> @Localizer["and try again."]
                        </p>

                        <p class="govuk-body">
                            @Localizer["For any queries, call the Animal and Plant Health Agency (APHA):"]
                        </p>

                        <h3 class="govuk-heading-s">@Localizer["Phone"]</h3>

                        <ul class="govuk-list">
                            <li>@Localizer["03300 416 999"]</li>
                            <li>@Localizer["Monday to Friday, 8:30am to 5pm (except public holidays)"]</li>
                            <li><a href="@callChargesUrl" target="_blank">@Localizer["Find out about call charges (open in new tab)"]</a></li>
                        </ul>

                        <h3 class="govuk-heading-s">@Localizer["Email"]</h3>
                        <ul class="govuk-list">
                            <li><a class="govuk-link" href="mailto:APHAServiceDesk@apha.gov.uk">APHAServiceDesk@apha.gov.uk</a></li>
                            <li>@Localizer["We aim to respond within 5 working days"]</li>
                        </ul>
                    </div>
                </div>
            </main>
        </div>
    </main>
</div>