@model PetDetailsCvm
@using Defra.PTS.Web.Domain.ViewModels.Components;
@using Defra.PTS.Web.Domain.Enums;
@using Defra.PTS.Web.Application.Extensions;
@using Defra.PTS.Web.UI.Constants;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    var currentCulture = System.Globalization.CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
    var changeText = currentCulture == "cy" ? "Newid" : "Change";
}

<div id="document-pet-card" class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">@Localizer["Pet details"]</h2>
    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Localizer["Name"]
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.Name
                </dd>

                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@WebAppConstants.Pages.TravelDocument.PetName">
                        @changeText<span class="govuk-visually-hidden"> @Localizer["Change pet's name"]</span>
                    </a>
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Localizer["Species"]
                </dt>
                <dd class="govuk-summary-list__value">
                    @if (Model.Species == "Dog")
                    {
                        @Localizer["Dog"]
                    }
                    else if (Model.Species == "Cat")
                    {
                        @Localizer["Cat"]
                    }
                    else if (Model.Species == "Ferret")
                    {
                        @Localizer["Ferret"]
                    }
                    else
                    {
                        @Model.Species
                    }
                </dd>

                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@WebAppConstants.Pages.TravelDocument.PetSpecies">
                        @changeText<span class="govuk-visually-hidden"> @Localizer["Change pet's species"]</span>
                    </a>
                </dd>

            </div>
            @if (Model.Species != PetSpecies.Ferret.ToString())
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        @Localizer["Breed"]
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Localizer[@Model.Breed]
                    </dd>

                    @if (Model.HasBreed)
                    {
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="@WebAppConstants.Pages.TravelDocument.PetBreed">
                                @changeText<span class="govuk-visually-hidden"> @Localizer["Change pet's breed"]</span>
                            </a>
                        </dd>
                    }
                    else
                    {
                        <dd class="govuk-summary-list__actions"></dd>
                    }

                </div>
            }

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Localizer["Sex"]
                </dt>
                <dd class="govuk-summary-list__value">
                    @if (Model.Gender == "Female")
                    {
                        @Localizer["Female"]
                    }
                    else if (Model.Gender == "Male")
                    {
                        @Localizer["Male"]
                    }
                    else
                    {
                        @Model.Gender
                    }
                </dd>

                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@WebAppConstants.Pages.TravelDocument.PetGender">
                        @changeText<span class="govuk-visually-hidden"> @Localizer["Change pet's sex"]</span>
                    </a>
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Localizer["Date of birth"]
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.BirthDate
                </dd>

                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@WebAppConstants.Pages.TravelDocument.PetAge">
                        @changeText<span class="govuk-visually-hidden"> @Localizer["Change pet's date of birth"]</span>
                    </a>
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Localizer["Colour"]
                </dt>
                <dd class="govuk-summary-list__value">
                    @Localizer[@Model.Colour]
                </dd>

                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@WebAppConstants.Pages.TravelDocument.PetColour">
                        @changeText<span class="govuk-visually-hidden"> @Localizer["Change pet's colour"]</span>
                    </a>
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Localizer["Significant features"]
                </dt>
                <dd class="govuk-summary-list__value">
                    @if (Model.Feature.ToLower() == "no")
                    {
                        @Localizer["No"]
                    }
                    else if (Model.Feature.ToLower() == "none")
                    {
                        @Localizer["None"]
                    }
                    else
                    {
                        @Model.Feature
                    }
                </dd>

                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@WebAppConstants.Pages.TravelDocument.PetFeature">
                        @changeText<span class="govuk-visually-hidden"> @Localizer["Change pet's significant features"]</span>
                    </a>
                </dd>

            </div>
        </dl>
    </div>
</div>