@model PetDetailsCvm
@using Defra.PTS.Web.Domain.ViewModels.Components;
@using Defra.PTS.Web.Domain.Enums;
@using Defra.PTS.Web.Application.Extensions;
@using Defra.PTS.Web.UI.Constants;

<div id="document-pet-card" class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Pet details</h2>
    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.Name
                </dd>

                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@WebAppConstants.Pages.TravelDocument.PetName">
                        Change<span class="govuk-visually-hidden"> pet's name</span>
                    </a>
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Species
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.Species
                </dd>

                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@WebAppConstants.Pages.TravelDocument.PetSpecies">
                        Change<span class="govuk-visually-hidden"> pet's species</span>
                    </a>
                </dd>

            </div>

            @if (Model.HasBreed)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Breed
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Breed
                    </dd>

                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="@WebAppConstants.Pages.TravelDocument.PetBreed">
                            Change<span class="govuk-visually-hidden"> pet's breed</span>
                        </a>
                    </dd>

                </div>
            }

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Sex
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.Gender
                </dd>

                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@WebAppConstants.Pages.TravelDocument.PetGender">
                        Change<span class="govuk-visually-hidden"> pet's sex</span>
                    </a>
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.BirthDate
                </dd>

                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@WebAppConstants.Pages.TravelDocument.PetAge">
                        Change<span class="govuk-visually-hidden"> pet's date of birth</span>
                    </a>
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Colour
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.Colour
                </dd>

                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@WebAppConstants.Pages.TravelDocument.PetColour">
                        Change<span class="govuk-visually-hidden"> pet's colour</span>
                    </a>
                </dd>

            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Significant features
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.Feature
                </dd>

                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@WebAppConstants.Pages.TravelDocument.PetFeature">
                        Change<span class="govuk-visually-hidden"> pet's unique features</span>
                    </a>
                </dd>

            </div>
        </dl>
    </div>
</div>